<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Contacts List</h1>

        <h2><%= user.userName %> has <%= total %> total contacts.</h2>

        <form action="/contacts/createContact" method='POST' class="contact-form">
            <h3>Contact List Form - Add a New Contact!</h3>
            <label>First Name: </label>
            <input type="text" placeholder="First Name" name='firstName' required>

            <label>Last Name:</label>
            <input type="text" placeholder="Last Name" name='lastName' required>

            <label>Date Connected:</label>
            <input type="date" name='date' required>

            <label>Company Name:</label>
            <input type="text" placeholder="Company Name" name='companyName' required>

            <label>Spark:</label>
            <textarea name="spark" rows="5" cols="50" required></textarea>

            <label>Email:</label>
            <input type="email" placeholder="Contact Email" name='email' required>

            <label>Follow-Up?</label>
            <select name="followUp" required>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>

            <label>Added on LinkedIN?</label>
            <select name="addedOnLinkedIn" required>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>

            <label>Added on Twitter?</label>
            <select name="addedOnTwitter" required>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>

            <button type="submit"><span>Add Contact Information</span></button>
        </form>

        

        <a href="/logout">Logout</a>

        <!-- Loop through and display all capas currently in database: -->
        <section class="contact-collection">
            <ul>
                <% contactItems.forEach(contact => {%>
                    <li class='todoItem' data-id='<%=contact._id%>'>
                        <div>
                            <%= `${contact.firstName} ${contact.lastName}` %>
                        </div>
                        <div>
                            <p>Connected on <%= contact.date.toDateString()%></p>
                            <p><%= contact.companyName%></p>
                            <p><%= contact.spark%></p>
                            <p><%= contact.email%></p>

                            <!-- The following fields will be PUT/UPDATEable: -->

                            <!-- Followed-Up -->
                            <p id="follow-up" class='<%= contact.followUp === "Yes" ? 'complete' : 'incomplete'%>'>Followed Up: <%= contact.followUp%></p>

                            <!-- Added On LinkedIn -->
                            <p id="added-on-linkedin" class='<%= contact.addedOnLinkedIn === "Yes" ? 'complete' : 'incomplete'%>'>Added on LinkedIn: <%= contact.addedOnLinkedIn%></p>

                            <!-- Added On Twitter -->
                            <p id="added-on-twitter" class='<%= contact.addedOnTwitter === "Yes" ? 'complete' : 'incomplete'%>'>Added on Twitter: <%= contact.addedOnTwitter%></p>

                            <!--Delete-->
                            <p>
                                <span class='del'> Delete </span>
                            </p>
                        </div>
                    </li>
                <% }) %>
        </section>
        <!-- Link to mainContact.js for event listers!! -->
        <script src="js/mainContact.js"></script> 
    </body>
</html>
<style>
    .contact-form{
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    textarea { 
        resize: vertical; 
    }

    .contact-form input, .contact-form select, .contact-form button{
        margin-bottom: 1rem;
    }

    /* classes for complete and incomplete */
    .complete {
        color: lime;
    }
    
    .incomplete {
        color: rgb(121, 0, 0);
    }

    .del {
        border: 1px solid gray;
        cursor: pointer;
        color: white;
        background-color: black;
    }

</style>