<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
        <!--ICONS-->
    </head>
    <body>
        <nav>
            <h1>Contact List</h1>
            <!--Link for Memo-->
            <ul>
                <li><a href="/memos" class="memos">Memos</a></li>
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        </nav>
        
        <div class="flex-wrapper">
                        
           <section class='contact-section'>
                <h2 class="user-heading">Welcome, <%= user.userName %></h2>
                <ul class="contact-ul">
                    <li class="user-heading"> You have <%= left %> contacts.</li>
                    <li class="user-heading"> You are on a <%= streak %> day streak. Keep it going!</li>
                <% todos.forEach( el => { %>
                    <li class='todoItem contact-list' data-id='<%=el._id%>'>
                        <span class="category">Name:</span><span> <%= `${el.firstName} ${el.lastName}` %></span><br />
                        <span class="category">Email:</span><span> <%= el.email %></span><br />
                        <span class="category">Date Connected:</span><span> <%= el.date.toDateString() %></span><br />
                        <span class="category">Company:</span><span> <%= el.companyName %></span><br />
                        <span class="category">Spark:</span><span> <%= el.spark %></span><br />

                        <h5 class="actions-header">Actions</h5>

                        <!-- If value is "yes", then apply 'yes-to-follow-up' class, otherwise no-follow-up-->
                        <span class='<%= el.followUp === "Yes" ? 'yes-follow-up' : 'no-follow-up'%>'>Follow Up</span><br />

                        <span class='<%= el.addedOnLinkedIn === "Yes" ? 'yes-linkedin' : 'no-linkedin'%>'>Added on Linkedin</span><br />

                        <span class='<%= el.addedOnTwitter === "Yes" ? 'yes-twitter' : 'no-twitter'%>'>Added on Twitter</span><br />

                        <!-- <span>Added on Twitter: <%= el.addedOnTwitter %></span> -->


                        <!-- Todo Task -->
                        <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span> -->

                        <!--Edit anchor-->       
                        <a class="button" href="/editContacts/<%=el._id %>" class="edit">Edit</a>
                        <!--Delete element-->        
                        <span class='del'> Delete </span>
                    </li>
                <% }) %>    
                </ul>
           </section>

           <section class="contact-form">
                <h2>Add Contacts</h2>
                <form action="/todos/createTodo" method='POST'>          

                    <label>First Name: </label>
                    <input type="text" placeholder="First Name" name='firstName' required>

                    <label>Last Name: </label>
                    <input type="text" placeholder="Last Name" name='lastName' required>

                    <label>Email:</label>
                    <input type="email" placeholder="Contact Email" name='email' required>

                    <label>Date Connected:</label>
                    <input type='date' name='date' required>

                    <label>Company Name:</label>
                    <input type="text" placeholder="Company Name" name='companyName' required>

                    <label>Spark:</label>
                    <textarea name="spark" rows="5" cols="50" required></textarea>

                    <label>Follow-Up?</label>
                    <select name="followUp" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <label>Added on LinkedIN?</label>
                    <select name="addedOnLinkedIn" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <label>Added on Twitter?</label>
                    <select name="addedOnTwitter" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <!-- Todo task -->
                    <!-- <input type="text" placeholder="Enter Todo Item" name='todoItem'> -->

                    <input class="button" type="submit" value="Add">
                </form>
             </section>
        </div>
        

        <script src="js/main.js"></script>
    </body>
</html>