<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
        <!--ICONS-->
    </head>
    <body>
        <nav>
            <h1>Contact List</h1>
            <!--Link for Memo-->
            <ul>
                <li><a href="/memos" class="memos">Memos</a></li>
                <li><a class="button" href="/logout">Logout</a></li>
            </ul>
        </nav>
        
        <div class="flex-wrapper">
                        
           <section>
                <h2>Hey <%= user.userName %>, you have <%= left %> contacts!</h2>
                <ul>
                <% todos.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span>Name: <%= `${el.firstName} ${el.lastName}` %></span>
                        <span>Email: <%= el.email %></span>
                        <span>Date Connected: <%= el.date.toDateString() %></span>
                        <span>Company: <%= el.companyName %></span>
                        <span>Spark: <%= el.spark %></span>

                        <!-- If value is "yes", then apply 'yes-to-follow-up' class, otherwise no-follow-up-->
                        <span id='#follow-up' class='<%= el.followUp === "Yes" ? 'yes-follow-up' : 'no-follow-up'%>'>Follow Up</span>

                        <span id='#linkedin' class='<%= el.addedOnLinkedIn === "Yes" ? 'yes-linkedin' : 'no-linkedin'%>'>Added on Linkedin</span>

                        <span id='#twitter' class='<%= el.addedOnTwitter === "Yes" ? 'yes-twitter' : 'no-twitter'%>'>Added on Twitter</span>

                        <!-- <span>Added on Twitter: <%= el.addedOnTwitter %></span> -->


                        <!-- Todo Task -->
                        <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span> -->

                        <!--Delete element-->        
                        <span class='del'> Delete </span>
                    </li>
                <% }) %>    
                </ul>
           </section>

           <section class="contact-form">
                <h2>Add Contacts</h2>
                <form action="/todos/createTodo" class="contact-form" method='POST'>          

                    <label>First Name: </label>
                    <input type="text" placeholder="First Name" name='firstName' required>

                    <label>Last Name: </label>
                    <input type="text" placeholder="Last Name" name='lastName' required>

                    <label>Email:</label>
                    <input type="email" placeholder="Contact Email" name='email' required>

                    <label>Date Connected:</label>
                    <input type='date' name='date' required>

                    <label>Company Name:</label>
                    <input type="text" placeholder="Company Name" name='companyName' required>

                    <label>Spark:</label>
                    <textarea name="spark" rows="5" cols="50" required></textarea>

                    <label>Follow-Up?</label>
                    <select name="followUp" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <label>Added on LinkedIN?</label>
                    <select name="addedOnLinkedIn" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <label>Added on Twitter?</label>
                    <select name="addedOnTwitter" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <!-- Todo task -->
                    <!-- <input type="text" placeholder="Enter Todo Item" name='todoItem'> -->

                    <input class="button" type="submit" value="Add">
                </form>
             </section>
        </div>
        

        <script src="js/main.js"></script>
    </body>
</html>